 @import "tailwindcss"; 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

p{font-size:1.2rem; margin-bottom:1.3rem;}
h2{border-bottom:6px solid red; display: inline-block; margin-bottom:1.2rem;}
nav{display: flex; gap:2rem;}

.input-field{ max-width:800px; margin: auto; padding:2.2rem ; display:flex; flex-direction:column; gap:1.4rem; border-radius:10px; background-color:rgb(213, 207, 207); box-shadow: 0px 0px 8px 5px rgb(151, 136, 136);}
.input-field input{ border:2px solid black; width:100%; padding:.7rem .6rem; font-size:1.3rem; border-radius: 8px;
  box-shadow:inset 0px 0px  4px 2px rgb(66, 63, 63); outline: none;}
.input-field input:hover{ border:2px solid rgb(130, 7, 7); background-color: white; }
.input-field input[type="button"]{background-color: rgb(7, 43, 7); color:white; border: none; box-shadow: none;}
.input-field input[type="button"]:hover{background-color: rgb(0, 86, 0);}